.select {
  outline: none;
}
.window {
  border-radius: 5px;
  border: solid 1px blue;
  padding: 5px;
  width: fit-content;
}
.dropdown {
  border: solid 1px blue;
  padding: 5px;
  width: fit-content;
  position: relative;
}
.dropdown ul {
  list-style: none;
  padding-left: 0;
}
.dropdown .close {
  position: absolute;
  top: 0;
  right: 10px;
}
